#areaclienti{
  text-align: center;
  padding: 2em;
  height: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cardclick:hover{
  cursor: pointer;
  background-color:#181818;
}
.cardclick{
  color: #FFC028;
  padding-top: 2em;
  background-color:#212121;
  margin: 3em;
  align-items: center;
  align-content: center;
  font-size: 2em;
  font-weight: bolder;
  height: 10rem;
  width: 20rem;
}
#navbar{
  display: grid;
  grid-template-rows: 0.3fr 1fr;
}
