<div id="navbar">
  <app-navbar></app-navbar>
  <h1 style="text-align:center; color: white; padding-top: 1em; font-size: 5em; font-weight: bolder; color:#FFC028;">AREA CLIENTI</h1>
  <div id="areaclienti">
    <mat-card (click)="clienti()" class="cardclick"><mat-card-title><mat-icon style="font-size:2em;">assignment_ind</mat-icon></mat-card-title><br><p></p>&nbsp;&nbsp;&nbsp;CLIENTI</mat-card>
    <mat-card (click)="fatture()" class="cardclick"><mat-card-title><mat-icon style="font-size:2em;">receipt</mat-icon></mat-card-title><br>&nbsp;&nbsp;&nbsp;FATTURE</mat-card>
    <mat-card (click)="users()" class="cardclick"><mat-card-title><mat-icon style="font-size:2em;">account_circle</mat-icon></mat-card-title><br>&nbsp;&nbsp;&nbsp;USERS</mat-card>
  </div>
</div>
