@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@600&display=swap');

div{
  padding: 2em;
  text-align: center;
}
h1{
  font-family: 'Montserrat', sans-serif;
  margin: 3rem;
  font-size: 6vw;
  color: white;
  padding: 2rem;
}
button{
  margin: 1em;
}
#containercard{
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.carda{
  margin-top: 2em;
  line-height: 2em;
  background-color:#212121;
  width: 25vw;
}
.carda:hover{
  cursor: pointer;
  opacity: 80%;
}
.titcard{
  font-weight: bold;
  color: #FFC028;
  font-size: 1.3em;
}
.sottcard{
  color: white
}
.buttonhome{
  padding:1rem 3rem;
  font-size: 1rem;
  margin-bottom: 5rem;
  color: white;
  font-weight: 500;
}
.buttonhome:hover{
  opacity: 80%;
}
