<div>
    <hr>
    <h1>GESTIONALE AZIENDALE</h1>
    <hr style="margin-bottom:6rem;">
  <button (click)="login()" mat-raised-button style="background-color:#076C54;" class="buttonhome">ACCEDI 🔑</button>
  <button (click)="register()" mat-raised-button style="background-color:#005BE5;" class="buttonhome">REGISTRATI 📝</button>
  <div id="containercard">
    <mat-card class="carda"><mat-card-title class="titcard">Fatturazione</mat-card-title><mat-card-subtitle class="sottcard">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-subtitle></mat-card>
    <mat-card class="carda"><mat-card-title class="titcard">Gestione Clienti</mat-card-title><mat-card-subtitle class="sottcard">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-subtitle></mat-card>
    <mat-card class="carda"><mat-card-title class="titcard">Controllo Utenti</mat-card-title><mat-card-subtitle class="sottcard">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</mat-card-subtitle></mat-card>
  </div>
</div>

