table{
  width: 90%;
  background-color: #32323223;
  margin: 5rem;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  font-size: 1.3em !important;
  color: white;
}
#matpaginator{
  background-color: #212121;
  color: white;
  font-size: 1.3em;
}
